
.container {
    width: 700px;
    background-color: aqua;
    margin: 0 auto;
}
.container:hover {
cursor: pointer;

}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
.main {
padding: 15px 50px;
}
.nav-link {
    text-decoration: none;
    color: blueviolet;
}
.nav-item {
        font-size: 25px;
        font-family: Inter-Regular;
        font-weight: 700;
    }
.nav-list {
    list-style: none;
}
.nav-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 25px auto;
    display: none;
}
.nav-img-first {
    width: 300px;
    height: 300px;
    display: block;
    margin: 25px auto;
}
.nav-img-second {
    width: 300px;
    height: 300px;
    display: block;
    margin: 25px auto;
    display: none;
}
.sign-cross {
    width: 35px;
    height: 35px;

}
.description {
    display: flex;
    justify-content: space-between;
}
.sign-plus {
    display: none;
}
.hidden-block {
    opacity: 0;
    transition: 1s;
}
.on-hover:hover .hidden-block {
    opacity: 1;
    transition: 1s;
}
.on-hover:hover .nav-link {
    color: black;
    transition: 1s;
}
.first {
    color: black;
}
.second:hover {
    content: url(assets/cute-sloth-yoga.webp);
    display: block;
    margin: 25px auto;
    width: 300px;
    height: 300px;
}






