
.container {
    width: 700px;
    height: auto;
    background-color: aqua;
    margin: 0 auto;
}
.container:hover {
cursor: pointer;

}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
.main {
padding: 15px 50px;
}
.nav-link {
    text-decoration: none;
    color: blueviolet;
}

.nav-item {
        font-size: 25px;
        font-family: Inter-Regular;
        font-weight: 700;
    }
.nav-list {
    list-style: none;
}
.nav-img-first {
    width: 300px;
    height: 300px;
    display: block;
    margin: 25px 150px;
}
.nav-img-second
.nav-img-third
.nav-img-fourth
.nav-img-fifth {
    width: 300px;
    height: 300px;
    display: none;
}
.sign-cross,
.sign-cross-second,
.sign-cross-third,
.sign-cross-fourth,
.sign-cross-fifth {
    width: 35px;
    height: 35px;
    display: none;
}
.sign-cross-first {
    width: 35px;
    height: 35px;
    }
.sign-plus,
.sign-plus-second,
.sign-plus-third,
.sign-plus-fourth,
.sign-plus-fifth {
    width: 35px;
    height: 35px;
    display: block;
}
.sign-plus-first {
    width: 35px;
    height: 35px;
    display: none;
}
.description {
    display: flex;
    justify-content: space-between;
}
.hidden-block {
    opacity: 0;
    transition: 1s;
}
.on-hover:hover .hidden-block {
    opacity: 1;
    transition: 1s;
}
.on-hover:hover .nav-link {
    color: black;
    transition: 1s;
}
.first {
    color: black;
}
.first .nav-img-first   {
    display: block;
}
.first:hover .nav-img-first {
    display: none;
    margin: 25px 150px;
    width: 300px;
    height: 300px;
    transition: 1s;
}
.second:hover .nav-img-second {
    content: url(assets/cute-sloth-yoga.webp);
    display: block;
    margin: 25px 150px;
    width: 300px;
    height: 300px;
    transition: 1s;
}
.second .nav-img-second {
    display: none;
}
.third:hover .nav-img-third {
    content: url(assets/cute-mom-sloth.webp);
    display: block;
    margin: 25px 150px;
    width: 300px;
    height: 300px;
    transition: 1s;
}
.third .nav-img-third {
    display: none;
}
.fourth:hover .nav-img-fourth {
    content: url(assets/cute-sloth-holding.webp);
    display: block;
    margin: 25px 150px;
    width: 300px;
    height: 300px;
    transition: 1s;
}  
.fourth .nav-img-fourth {
    display: none;
}
.fifth:hover .nav-img-fifth {
    content: url(assets/cute-sloth-playing-skateboard.webp);
    display: block;
    margin: 25px 150px;
    width: 300px;
    height: 300px;
    transition: 1s;
}
.fifth .nav-img-fifth {
    display: none;
}

.second:hover + .sign-cross-second,
.third:hover + .sign-cross-third,
.fourth:hover + .sign-cross-fourth,
.fifth:hover + .sign-cross-fifth {
    display: block;
}
.second:hover ~ .sign-plus-second,
.third:hover ~ .sign-plus-third,
.fourth:hover ~ .sign-plus-fourth,
.fifth:hover ~ .sign-plus-fifth {
    display: none;
}
.first:hover + .sign-cross-first {
    display: none;
}
.first:hover ~ .sign-plus-first {
    display: block;
}
.nav-img-second:active,
.nav-img-first:active,
.nav-img-third:active,
.nav-img-fourth:active,
.nav-img-fifth:active {
    opacity: 0.03;
    transition: 3s;
}


@media screen and (max-width: 320px) {
    


}

















